/* Палитра:
        основной цвет текста    #757575
        доп цвет текста         #212121
        цвет акцента            #2196F3
        вспомагательный цвет    #FFFFFF
        цвеи ссылок             #FFFFFF 60 % 
   шрифты:
        Roboto 400, 500, 700
        Raleway 700
*/

/* =========== Основные стили =========== */
:root {
  --main-color: #757575;
  --akcent-color: #2196f3;
  --title-color: #212121;
  --background-color: #ffffff;
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}
body {
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: var(--font-roboto);
}
/* ========== Сброс css ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  display: flex;
  flex-direction: column;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========== End Основные стили =========== */

/* =========== Шапка Сайта =========== */
.main-header {
  /* padding: 24px 0; */
  border-bottom: 1px solid #ececec;
}

.main-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-navigation,
.main-header-contacts {
  display: flex;
}

.logo {
  display: flex;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  color: var(--title-color);
}

.logo-akcent {
  color: var(--akcent-color);
}

.main-header-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.main-conteiner-list {
  position: relative;
}

.main-header-items {
  display: flex;
  padding: 32px 0;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--akcent-color);
}
.main-conteiner-list:not(:first-child) {
  margin-left: 50px;
}

.main-header-items:hover,
.main-header-items:focus {
  color: var(--akcent-color);
}

.main-header-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-header-contacts-item {
  display: inline-flex;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-heder-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-color);
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-header-contacts-item:hover,
.main-header-contacts-item:focus {
  color: var(--akcent-color);
}

.main-header-contacts-item:hover .main-heder-icon,
.main-header-contacts-item:focus .main-heder-icon {
  fill: var(--akcent-color);
}

.main-conteiner-contacts:not(:first-child) {
  margin-left: 30px;
}

/* =========== End Шапка Сайта =========== */
/* ===========  Секция Hero =========== */
.baner {
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/baner-main.jpg');

  background-size: cover;
  padding: 200px 0;
  margin: 0 auto;
}
.main-conteiner-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--background-color);
}

.hero-button {
  color: var(--background-color);
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  cursor: pointer;
}
/* ===========  End Секция Hero =========== */

/* ===========  Секция особенности =========== */
.company {
  padding-top: 94px;
}

.company-profile {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}
.company-profile-list {
  margin-left: 30px;
}
.company-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.icon-company {
  width: 70px;
  height: 70px;
}

.company-profile-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  color: var(--title-color);
}
.company-profile-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
/* ===========  End Секция особенности =========== */
/* ===========  Секция занятий =========== */
.presentation {
  padding-top: 94px;
  padding-bottom: 94px;
}
.presintation-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.presintation-list-container {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.presentation-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.presentation-box {
  position: relative;
}
.presintation-paragraf {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/* ===========  End Секция занятий =========== */
/* ===========  Секция команда =========== */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-conect {
  padding: 30px;
}

.team-list-item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list-item-paragraf {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--akcent-color);
}
.team-social-link:hover .social-list-icon,
.team-social-link:focus .social-list-icon {
  fill: #ffffff;
}
/* ===========  End Секция команда =========== */
/* ============ Секция Клиенты======== */
.client-title {
  padding: 0 auto;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.our-clients {
  padding: 94px 0;
}
.client-icon-list {
  display: flex;
  justify-content: space-between;
}
.client-icon-items {
  width: 170px;
  height: 92px;
}
.client-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon-link:hover,
.client-icon-link:focus {
  border: 1px solid var(--akcent-color);
}
.client-icon-link:hover .client-icon,
.client-icon-link:focus .client-icon {
  fill: var(--akcent-color);
}

/* ============End секция Клиенты========== */

/* ===========  Секция футер =========== */
.footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.footer-logo {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.footer-contacts-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contacts {
  margin-left: 70px;
}
.footer-links {
  display: block;
}
.footer-list {
  margin-top: 9px;
}
.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--akcent-color);
}

.footer-social-list {
  display: flex;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item:not(:first-child) {
  margin-left: 10px;
}
.footer-social-link .footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--akcent-color);
}

.footer-form-box {
  margin-left: 93px;
}
.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form {
  display: flex;
  margin-top: 20px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}
.footer-form-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-forn-btn {
  background-color: var(--akcent-color);
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-forn-btn:hover,
.footer-forn-btn:focus {
  background-color: #188ce8;
}
.footer-send-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

/* ===========  End Секция футер =========== */

/* ================== ПОРТФОЛИО =================== */
/* ================== Навигация =================== */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-navigation-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-navigation-items:not(:first-child) {
  margin-left: 8px;
}
.portfolio-navigation-button {
  display: block;
  border: none;
  padding: 6px 22px;
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #f5f4fa;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-navigation-button:hover,
.portfolio-navigation-button:focus {
  color: var(--background-color);
  background: var(--akcent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ================== End Навигация =================== */
/* ================== Проэкты =================== */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.projects-list-link {
  display: block;
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover .overlay,
.projects-list-link:focus .overlay {
  transform: translateY(0%);
}

.project-list-content {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}
.projects-list-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-list-paragraf {
  color: var(--main-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* ================== End Проэкты =================== */

/* ============== Modal================= */
.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop-button {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
.backdrop-button-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-button:hover .backdrop-button-icon,
.backdrop-button:focus .backdrop-button-icon {
  fill: var(--akcent-color);
}
.modal-form {
  display: flex;
  padding: 40px;
  flex-direction: column;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.modal-form-field {
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-field-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-input:hover {
  border-color: var(--akcent-color);
}
.modal-form-input:focus + .modal-social-list-icon,
.modal-form-input:hover + .modal-social-list-icon {
  fill: var(--akcent-color);
}
.modal-user-massage-area {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-user-massage-area:hover,
.modal-user-massage-area:focus {
  border: 1px solid var(--akcent-color);
}
.modal-user-massage-area::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-social-list-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------------- */
.modal-checkbox {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-icon:hover + .modal-checkbox,
.modal-checkbox-icon:focus + .modal-checkbox {
  color: var(--akcent-color);
}

.modal-checkbox::before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  width: 16px;
  height: 15px;
  background-image: none;
  margin-right: 7px;
  outline: 1px solid var(--title-color);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon:checked + .modal-checkbox::before {
  background-image: url(../images/svg/icon-check.svg);
  outline: none;
}

.policy-link {
  color: var(--akcent-color);
}
.modal-checkbox-wrapper {
  position: relative;
  display: block;
  margin-top: 20px;
}
/* -------------------------------- */
.modal-button {
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  color: var(--background-color);
  background: var(--akcent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
}
/* ===============End modal================= */ ;
