.backdrop-button {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.backdrop-button-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop-button:hover &,
  .backdrop-button:focus & {
    fill: var(--akcent-color);
  }
}
